<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Weather app &verbar; not found 🐸</title>
  </head>

  <body class="body--404">
    <div>
      <div class="body--404__gif m-b-b">
        <img
          src="/images/gif-404.webp"
          alt="gif kong"
          class="body--404__gif__content"
        />
      </div>

      <h1 class="heading-primary t-a-c">oops, page not found !</h1>
    </div>
  </body>
</html>
